/* Variables */

:root {
    --c-dark: #060913;
    --c-dark-gray: #090E1D;
    --c-gray: #0F1730;
    --c-glass: hsla(0, 0%, 0%, 0.35);
    --c-glass-2: hsla(0, 0%, 0%, 0.75);
    --c-light: #EEEEEE;
    --c-brand: #33FF56;
    --c-brand-light: #62F37B;
    --c-alert-berhasil: #BDFAC7;
    --c-alert-gagal: --c-brand-rgb: 66, 182, 240;
    --c-body: #ffffff;
    --font-base: 'Montserrat', sans-serif;
    --box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.75);
    --transition: all 0.5s ease;
}

/* Helpers */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: var(--font-base);
    line-height: 1.7;
    color: var(--c-body);
    font-weight: 600;
}


body {
    background-image: url(../img/BG.png);
    margin: 0;
    height: 100%;
}

/* Utilities */
.bg-brand {
    background-color: var(--c-brand);
}

.bg-gray {
    background-color: var(--c-gray);
}

/* Styles */

.horizontalLine {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 50%;
}

.horizontalLineActive {
    border-top: 0.5rem solid var(--c-brand);
}

.horizontalLineInactive {
    border-top: 0.5rem solid var(--c-gray);
}

.horizontalLineLeft {
    left: 0;
}

.horizontalLineRight {
    right: 0;
}

.buttonAccordionPrimary {
    background-color: var(--c-brand);
}

.buttonAccordionPrimary:hover {
    background-color: var(--c-brand);
    outline: 0.2rem solid var(--c-brand);
    outline-offset: 0.1rem;
}

.buttonAccordionSecondary {
    color: var(--c-brand);
    border: 0.2rem solid var(--c-brand);
}

.buttonAccordionSecondary:hover {
    background-color: var(--c-brand);
}

input {
    color: #FFFFFF;
}

input:focus {
    background-color: var(--c-gray) !important;
}

.cardRegister{
    background-color: #090E1D;
    border-style: none;
    border-radius: 1rem;
    min-width: 65%;
}

